.jumbotron {
  padding-top: 8rem;
  background-color: #d9edff;
}

#projects {
  background-color: #d9edff;
}

section {
  scroll-margin-top: 80px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* My Cats Section */
.cat-box {
  position: relative;
  background-color: #0d6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.cat-box::before {
  content: 'MY';
  position: absolute;
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%, 0);
}

.cat-box:hover::before {
  opacity: 0.2;
}

.cat-box::after {
  content: 'CATS';
  position: absolute;
  color: white;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  opacity: 0;
  transition: 0.5s;
  left: 50%;
  transform: translate(-50%, 0);
}

.cat-box:hover::after {
  opacity: 0.2;
}

.cat-name {
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.cat-box:hover .cat-name {
  top: 20px;
  opacity: 1;
}

.cat-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 50px);
  opacity: 0;
  transition: 0.5s;
}

.cat-box:hover .cat-detail-button {
  opacity: 1;
  bottom: 20px;
}

.cat-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 100px);
  max-width: 350px;
  transition: 0.5s;
  z-index: 2;
}

.cat-box:hover .cat-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}
