.jumbotron {
  padding-top: 8rem;
  background-color: #d9edff;
}

#projects {
  background-color: #d9edff;
}

section {
  scroll-margin-top: 80px;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
